<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/index.css" />
  </head>
  <body class="main-container">
    <div class="header-container">
      <label onclick="submitLogout()" class="button-link"> Logout </label>
    </div>
    <div class="content-container">
      <span> Private area </span>
    </div>

    <script src="../sdk/sdk.min.js"></script>
    <script>
      function submitLogout() {
        indigitall.logOut(
          (device) => {
            console.log("Logout done! ", device);
            window.location.href = "../index.html";
          },
          (error) => {
            console.error("Incorrect logout");
          }
        );
      }
    </script>
  </body>
</html>
