<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/index.css" />
  </head>
  <body class="main-container">
    <div class="header-container">
      <a class="button-link" href="./signup.html"> Signup </a>
      <a class="button-link" href="./login.html"> Login </a>
    </div>
    <div class="content-container">
      <div class="form-container">
        <div class="input-container">
          <label for="password">Password</label>
          <input type="password" placeholder="*******" id="password" />
        </div>
        <div class="input-container">
          <label for="repeated_password">Repeat password</label>
          <input type="password" placeholder="*******" id="repeated_password" />
        </div>
        <br />
        <button
          type="button"
          onclick="sendSignupPasswordEvent()"
          class="button-form"
        >
          Submit
        </button>
      </div>
    </div>
    <script src="../sdk/sdk.min.js"></script>
    <script>
      function sendSignupPasswordEvent() {
        const password = document.getElementById("password").value;
        const repeatedPassword =
          document.getElementById("repeated_password").value;
        const deviceId = "464c140d-a86c-4133-9dbf-8c55786a81a1";

        indigitall.topicsUnsubscribe(
          ["incomplete_step3"],
          (topics) => {
            // success function
            console.log(topics);
          },
          () => {
            // error function
            console.error(error);
          }
        );

        indigitall.sendCustomEvent(
          {
            eventType: "newUser",
            customData: { password, repeatedPassword },
            async: false,
          },
          (response) => {
            console.log(response);
            window.location.href = "./private-area.html";
          },
          (error) => {
            console.log(error);
          }
        );
      }
    </script>
  </body>
</html>
