<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/index.css" />
  </head>
  <body class="main-container">
    <div class="header-container">
      <a class="button-link" href="./signup.html"> Signup </a>
      <a class="button-link" href="./login.html"> Login </a>
    </div>
    <div class="content-container">
      <div class="form-container">
        <div class="input-container">
          <label for="name">Name</label>
          <input type="text" placeholder="User" id="name" />
        </div>
        <div class="input-container">
          <label for="birthdate">Birthdate</label>
          <input type="date" placeholder="01/01/1999" id="birthdate" />
        </div>
        <br />
        <button type="button" onclick="sendSignupEvent()" class="button-form">
          Submit
        </button>
      </div>
    </div>
    <script src="../sdk/sdk.min.js"></script>

    <script>
      const topicsCodes = [
        "incomplete_step1",
        "incomplete_step2",
        "incomplete_step3",
      ];

      function topicsSubscribe() {
        indigitall.topicsSubscribe(
          topicsCodes,
          (topics) => {
            console.log(topics);
          },
          (error) => {
            console.error(error);
          }
        );
      }

      function sendSignupEvent() {
        const name = document.getElementById("name").value;
        const birthdate = document.getElementById("birthdate").value;

        indigitall.topicsUnsubscribe(
          ["incomplete_step1"],
          (topics) => {
            // success function
            console.log(topics);
          },
          () => {
            // error function
            console.error(error);
          }
        );

        indigitall.sendCustomEvent(
          {
            eventType: "step1",
            customData: { name, birthdate },
            async: false,
          },
          (response) => {
            console.log(response);
            window.location.href = "./signup-email.html";
          },
          (error) => {
            console.log(error);
          }
        );
      }

      topicsSubscribe();
    </script>
  </body>
</html>
